.border-none, .border-top-none, .border-vertical-none {
    border-top: none
}

.border-none, .border-right-none, .border-horizontal-none {
    border-right: none
}

.border-none, .border-bottom-none, .border-vertical-none {
    border-bottom: none
}

.border-none, .border-left-none, .border-horizontal-none {
    border-left: none
}

.border {
    border: 1px solid #000
}

.border-top, .border-vertical {
    border-top: 1px solid #000
}

.border-right, .border-horizontal {
    border-right: 1px solid #000
}

.border-bottom, .border-vertical {
    border-bottom: 1px solid #000
}

.border-left, .border-horizontal {
    border-left: 1px solid #000
}

.border-error {
    border-color: #ff4963
}

.border-warning {
    border-color: #662505
}

.border-info {
    border-color: blue
}

.border-confirm {
    border-color: green
}

.border-solid {
    border-style: solid
}

.border-dotted {
    border-style: dotted
}

.border-top-solid, .border-vertical-solid {
    border-top-style: solid
}

.border-right-solid, .border-horizontal-solid {
    border-right-style: solid
}

.border-bottom-solid, .border-vertical-solid {
    border-bottom-style: solid
}

.border-left-solid, .border-horizontal-solid {
    border-left-style: solid
}

.border-top-dotted, .border-vertical-dotted {
    border-top-style: dotted
}

.border-right-dotted, .border-horizontal-dotted {
    border-right-style: dotted
}

.border-bottom-dotted, .border-vertical-dotted {
    border-bottom-style: dotted
}

.border-left-dotted, .border-horizontal-dotted {
    border-left-style: dotted
}

.shadow {
    box-shadow: 0px 5px 5px -5px #cacaca
}

.shadow-none {
    box-shadow: none
}

.font-xs {
    font-size: 11px;
    font-size: 1.1em
}

.font-s {
    font-size: 13px;
    font-size: 1.3em
}

.font-standard {
    font-size: 14px;
    font-size: 1.4em
}

.font-m {
    font-size: 14px;
    font-size: 1.4em
}

.font-l {
    font-size: 18px;
    font-size: 1.8em
}

.font-xl {
    font-size: 20px;
    font-size: 2em
}

.font-xxl {
    font-size: 23px;
    font-size: 2.3em
}

.font-xxxl {
    font-size: 32px;
    font-size: 3.2em
}

@media (min-width: 669px) {
    .font-xs {
        font-size: 11px;
        font-size: 1.1em
    }

    .font-s {
        font-size: 13px;
        font-size: 1.3em
    }

    .font-standard {
        font-size: 14px;
        font-size: 1.4em
    }

    .font-m {
        font-size: 18px;
        font-size: 1.8em
    }

    .font-l {
        font-size: 21px;
        font-size: 2.1em
    }

    .font-xl {
        font-size: 26px;
        font-size: 2.6em
    }

    .font-xxl {
        font-size: 32px;
        font-size: 3.2em
    }

    .font-xxxl {
        font-size: 42px;
        font-size: 4.2em
    }
}

.font-line-xs {
    line-height: 1.15
}

.font-line-s {
    line-height: 1.45
}

.font-line-standard {
    line-height: 1.6
}

.font-light {
    font-weight: 300
}

.font-normal {
    font-weight: normal
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: bold
}

.font-italic {
    font-style: italic
}

.font-strike {
    text-decoration: line-through
}

.font-uppercase {
    text-transform: uppercase
}

.font-capitalized {
    text-transform: capitalize
}

.font-white {
    color: #ffffff
}

.font-regular {
    color: #000
}

.font-light {
    color: gray
}

.font-brand {
    color: blue
}

.font-error {
    color: #ff4963
}

.font-confirm {
    color: green
}

.font-info {
    color: blue
}

.font-warning {
    color: #662505
}

.font-nowrap {
    white-space: nowrap
}

.font-break-all {
    word-break: break-all
}

.font-ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal
}

.font-center {
    text-align: center
}

.font-left {
    text-align: left
}

.font-right {
    text-align: right
}

.inline {
    display: inline
}

.inline-block {
    display: inline-block
}

.block {
    display: block
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.align-baseline {
    vertical-align: baseline
}

.align-top {
    vertical-align: top
}

.align-middle {
    vertical-align: middle
}

.align-bottom {
    vertical-align: bottom
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.float-none {
    float: none
}

.clear-both {
    clear: both
}

.clear-left {
    clear: left
}

.clear-right {
    clear: right
}

.overflow-hidden {
    overflow: hidden
}

.hide {
    display: none
}

@media (max-width: 668px) {
    .palm-hide {
        display: none
    }
}

@media (min-width: 669px) and (max-width: 1013px) {
    .lap-hide {
        display: none
    }
}

@media (min-width: 1014px) {
    .desk-hide {
        display: none
    }
}

@media print {
    .print-hide {
        display: none
    }
}

.invisible {
    visibility: hidden
}

.margin-none, .margin-top-none, .margin-vertical-none {
    margin-top: 0
}

.margin-none, .margin-right-none, .margin-horizontal-none {
    margin-right: 0
}

.margin-none, .margin-bottom-none, .margin-vertical-none {
    margin-bottom: 0
}

.margin-none, .margin-left-none, .margin-horizontal-none {
    margin-left: 0
}

.margin {
    margin: 8px
}

.margin-xs {
    margin: 2px
}

.margin-s {
    margin: 4px
}

.margin-m {
    margin: 8px
}

.margin-l {
    margin: 16px
}

.margin-xl {
    margin: 24px
}

.margin-xxl {
    margin: 32px
}

.margin-top, .margin-vertical {
    margin-top: 8px
}

.margin-right, .margin-horizontal {
    margin-right: 8px
}

.margin-bottom, .margin-vertical {
    margin-bottom: 8px
}

.margin-left, .margin-horizontal {
    margin-left: 8px
}

.margin-top-xs, .margin-vertical-xs {
    margin-top: 2px
}

.margin-right-xs, .margin-horizontal-xs {
    margin-right: 2px
}

.margin-bottom-xs, .margin-vertical-xs {
    margin-bottom: 2px
}

.margin-left-xs, .margin-horizontal-xs {
    margin-left: 2px
}

.margin-top-s, .margin-vertical-s {
    margin-top: 4px
}

.margin-right-s, .margin-horizontal-s {
    margin-right: 4px
}

.margin-bottom-s, .margin-vertical-s {
    margin-bottom: 4px
}

.margin-left-s, .margin-horizontal-s {
    margin-left: 4px
}

.margin-top-m, .margin-vertical-m {
    margin-top: 8px
}

.margin-right-m, .margin-horizontal-m {
    margin-right: 8px
}

.margin-bottom-m, .margin-vertical-m {
    margin-bottom: 8px
}

.margin-left-m, .margin-horizontal-m {
    margin-left: 8px
}

.margin-top-l, .margin-vertical-l {
    margin-top: 16px
}

.margin-right-l, .margin-horizontal-l {
    margin-right: 16px
}

.margin-bottom-l, .margin-vertical-l {
    margin-bottom: 16px
}

.margin-left-l, .margin-horizontal-l {
    margin-left: 16px
}

.margin-top-xl, .margin-vertical-xl {
    margin-top: 24px
}

.margin-right-xl, .margin-horizontal-xl {
    margin-right: 24px
}

.margin-bottom-xl, .margin-vertical-xl {
    margin-bottom: 24px
}

.margin-left-xl, .margin-horizontal-xl {
    margin-left: 24px
}

.margin-top-xxl, .margin-vertical-xxl {
    margin-top: 32px
}

.margin-right-xxl, .margin-horizontal-xxl {
    margin-right: 32px
}

.margin-bottom-xxl, .margin-vertical-xxl {
    margin-bottom: 32px
}

.margin-left-xxl, .margin-horizontal-xxl {
    margin-left: 32px
}

@media (min-width: 669px) {
    .margin-none, .margin-top-none, .margin-vertical-none {
        margin-top: 0
    }

    .margin-none, .margin-right-none, .margin-horizontal-none {
        margin-right: 0
    }

    .margin-none, .margin-bottom-none, .margin-vertical-none {
        margin-bottom: 0
    }

    .margin-none, .margin-left-none, .margin-horizontal-none {
        margin-left: 0
    }

    .margin {
        margin: 16px
    }

    .margin-xs {
        margin: 4px
    }

    .margin-s {
        margin: 8px
    }

    .margin-m {
        margin: 16px
    }

    .margin-l {
        margin: 24px
    }

    .margin-xl {
        margin: 32px
    }

    .margin-xxl {
        margin: 40px
    }

    .margin-top, .margin-vertical {
        margin-top: 16px
    }

    .margin-right, .margin-horizontal {
        margin-right: 16px
    }

    .margin-bottom, .margin-vertical {
        margin-bottom: 16px
    }

    .margin-left, .margin-horizontal {
        margin-left: 16px
    }

    .margin-top-xs, .margin-vertical-xs {
        margin-top: 4px
    }

    .margin-right-xs, .margin-horizontal-xs {
        margin-right: 4px
    }

    .margin-bottom-xs, .margin-vertical-xs {
        margin-bottom: 4px
    }

    .margin-left-xs, .margin-horizontal-xs {
        margin-left: 4px
    }

    .margin-top-s, .margin-vertical-s {
        margin-top: 8px
    }

    .margin-right-s, .margin-horizontal-s {
        margin-right: 8px
    }

    .margin-bottom-s, .margin-vertical-s {
        margin-bottom: 8px
    }

    .margin-left-s, .margin-horizontal-s {
        margin-left: 8px
    }

    .margin-top-m, .margin-vertical-m {
        margin-top: 16px
    }

    .margin-right-m, .margin-horizontal-m {
        margin-right: 16px
    }

    .margin-bottom-m, .margin-vertical-m {
        margin-bottom: 16px
    }

    .margin-left-m, .margin-horizontal-m {
        margin-left: 16px
    }

    .margin-top-l, .margin-vertical-l {
        margin-top: 24px
    }

    .margin-right-l, .margin-horizontal-l {
        margin-right: 24px
    }

    .margin-bottom-l, .margin-vertical-l {
        margin-bottom: 24px
    }

    .margin-left-l, .margin-horizontal-l {
        margin-left: 24px
    }

    .margin-top-xl, .margin-vertical-xl {
        margin-top: 32px
    }

    .margin-right-xl, .margin-horizontal-xl {
        margin-right: 32px
    }

    .margin-bottom-xl, .margin-vertical-xl {
        margin-bottom: 32px
    }

    .margin-left-xl, .margin-horizontal-xl {
        margin-left: 32px
    }

    .margin-top-xxl, .margin-vertical-xxl {
        margin-top: 40px
    }

    .margin-right-xxl, .margin-horizontal-xxl {
        margin-right: 40px
    }

    .margin-bottom-xxl, .margin-vertical-xxl {
        margin-bottom: 40px
    }

    .margin-left-xxl, .margin-horizontal-xxl {
        margin-left: 40px
    }
}

.padding-none, .padding-top-none, .padding-vertical-none {
    padding-top: 0
}

.padding-none, .padding-right-none, .padding-horizontal-none {
    padding-right: 0
}

.padding-none, .padding-bottom-none, .padding-vertical-none {
    padding-bottom: 0
}

.padding-none, .padding-left-none, .padding-horizontal-none {
    padding-left: 0
}

.padding {
    padding: 8px
}

.padding-xs {
    padding: 2px
}

.padding-s {
    padding: 4px
}

.padding-m {
    padding: 8px
}

.padding-l {
    padding: 16px
}

.padding-xl {
    padding: 24px
}

.padding-xxl {
    padding: 32px
}

.padding-top, .padding-vertical {
    padding-top: 8px
}

.padding-right, .padding-horizontal {
    padding-right: 8px
}

.padding-bottom, .padding-vertical {
    padding-bottom: 8px
}

.padding-left, .padding-horizontal {
    padding-left: 8px
}

.padding-top-xs, .padding-vertical-xs {
    padding-top: 2px
}

.padding-right-xs, .padding-horizontal-xs {
    padding-right: 2px
}

.padding-bottom-xs, .padding-vertical-xs {
    padding-bottom: 2px
}

.padding-left-xs, .padding-horizontal-xs {
    padding-left: 2px
}

.padding-top-s, .padding-vertical-s {
    padding-top: 4px
}

.padding-right-s, .padding-horizontal-s {
    padding-right: 4px
}

.padding-bottom-s, .padding-vertical-s {
    padding-bottom: 4px
}

.padding-left-s, .padding-horizontal-s {
    padding-left: 4px
}

.padding-top-m, .padding-vertical-m {
    padding-top: 8px
}

.padding-right-m, .padding-horizontal-m {
    padding-right: 8px
}

.padding-bottom-m, .padding-vertical-m {
    padding-bottom: 8px
}

.padding-left-m, .padding-horizontal-m {
    padding-left: 8px
}

.padding-top-l, .padding-vertical-l {
    padding-top: 16px
}

.padding-right-l, .padding-horizontal-l {
    padding-right: 16px
}

.padding-bottom-l, .padding-vertical-l {
    padding-bottom: 16px
}

.padding-left-l, .padding-horizontal-l {
    padding-left: 16px
}

.padding-top-xl, .padding-vertical-xl {
    padding-top: 24px
}

.padding-right-xl, .padding-horizontal-xl {
    padding-right: 24px
}

.padding-bottom-xl, .padding-vertical-xl {
    padding-bottom: 24px
}

.padding-left-xl, .padding-horizontal-xl {
    padding-left: 24px
}

.padding-top-xxl, .padding-vertical-xxl {
    padding-top: 32px
}

.padding-right-xxl, .padding-horizontal-xxl {
    padding-right: 32px
}

.padding-bottom-xxl, .padding-vertical-xxl {
    padding-bottom: 32px
}

.padding-left-xxl, .padding-horizontal-xxl {
    padding-left: 32px
}

@media (min-width: 669px) {
    .padding-none, .padding-top-none, .padding-vertical-none {
        padding-top: 0
    }

    .padding-none, .padding-right-none, .padding-horizontal-none {
        padding-right: 0
    }

    .padding-none, .padding-bottom-none, .padding-vertical-none {
        padding-bottom: 0
    }

    .padding-none, .padding-left-none, .padding-horizontal-none {
        padding-left: 0
    }

    .padding {
        padding: 16px
    }

    .padding-xs {
        padding: 4px
    }

    .padding-s {
        padding: 8px
    }

    .padding-m {
        padding: 16px
    }

    .padding-l {
        padding: 24px
    }

    .padding-xl {
        padding: 32px
    }

    .padding-xxl {
        padding: 40px
    }

    .padding-top, .padding-vertical {
        padding-top: 16px
    }

    .padding-right, .padding-horizontal {
        padding-right: 16px
    }

    .padding-bottom, .padding-vertical {
        padding-bottom: 16px
    }

    .padding-left, .padding-horizontal {
        padding-left: 16px
    }

    .padding-top-xs, .padding-vertical-xs {
        padding-top: 4px
    }

    .padding-right-xs, .padding-horizontal-xs {
        padding-right: 4px
    }

    .padding-bottom-xs, .padding-vertical-xs {
        padding-bottom: 4px
    }

    .padding-left-xs, .padding-horizontal-xs {
        padding-left: 4px
    }

    .padding-top-s, .padding-vertical-s {
        padding-top: 8px
    }

    .padding-right-s, .padding-horizontal-s {
        padding-right: 8px
    }

    .padding-bottom-s, .padding-vertical-s {
        padding-bottom: 8px
    }

    .padding-left-s, .padding-horizontal-s {
        padding-left: 8px
    }

    .padding-top-m, .padding-vertical-m {
        padding-top: 16px
    }

    .padding-right-m, .padding-horizontal-m {
        padding-right: 16px
    }

    .padding-bottom-m, .padding-vertical-m {
        padding-bottom: 16px
    }

    .padding-left-m, .padding-horizontal-m {
        padding-left: 16px
    }

    .padding-top-l, .padding-vertical-l {
        padding-top: 24px
    }

    .padding-right-l, .padding-horizontal-l {
        padding-right: 24px
    }

    .padding-bottom-l, .padding-vertical-l {
        padding-bottom: 24px
    }

    .padding-left-l, .padding-horizontal-l {
        padding-left: 24px
    }

    .padding-top-xl, .padding-vertical-xl {
        padding-top: 32px
    }

    .padding-right-xl, .padding-horizontal-xl {
        padding-right: 32px
    }

    .padding-bottom-xl, .padding-vertical-xl {
        padding-bottom: 32px
    }

    .padding-left-xl, .padding-horizontal-xl {
        padding-left: 32px
    }

    .padding-top-xxl, .padding-vertical-xxl {
        padding-top: 40px
    }

    .padding-right-xxl, .padding-horizontal-xxl {
        padding-right: 40px
    }

    .padding-bottom-xxl, .padding-vertical-xxl {
        padding-bottom: 40px
    }

    .padding-left-xxl, .padding-horizontal-xxl {
        padding-left: 40px
    }
}

.automatic-width {
    width: auto
}

.one-whole {
    width: 100%
}

.one-half, .two-fourths, .four-eighths, .three-sixths, .five-tenths, .six-twelfths {
    width: 50%
}

.one-third, .two-sixths, .four-twelfths {
    width: 33.333%
}

.two-thirds, .four-sixths, .eight-twelfths {
    width: 66.666%
}

.one-fourth, .two-eighths, .three-twelfths {
    width: 25%
}

.three-fourths, .six-eighths, .nine-twelfths {
    width: 75%
}

.one-fifth, .two-tenths {
    width: 20%
}

.two-fifths, .four-tenths {
    width: 40%
}

.three-fifths, .six-tenths {
    width: 60%
}

.four-fifths, .eight-tenths {
    width: 80%
}

.one-sixth, .two-twelfths {
    width: 16.666%
}

.five-sixths, .ten-twelfths {
    width: 83.333%
}

.one-eighth {
    width: 12.5%
}

.three-eighths {
    width: 37.5%
}

.five-eighths {
    width: 62.5%
}

.seven-eighths {
    width: 87.5%
}

.one-tenth {
    width: 10%
}

.three-tenths {
    width: 30%
}

.seven-tenths {
    width: 70%
}

.nine-tenths {
    width: 90%
}

.one-twelfth {
    width: 8.333%
}

.five-twelfths {
    width: 41.666%
}

.seven-twelfths {
    width: 58.333%
}

.ten-twelfths {
    width: 83.333%
}

.eleven-twelfths {
    width: 91.666%
}

@media (max-width: 668px) {
    .palm-automatic-width {
        width: auto
    }

    .palm-one-whole {
        width: 100%
    }

    .palm-one-half, .palm-two-fourths, .palm-four-eighths, .palm-three-sixths, .palm-five-tenths, .palm-six-twelfths {
        width: 50%
    }

    .palm-one-third, .palm-two-sixths, .palm-four-twelfths {
        width: 33.333%
    }

    .palm-two-thirds, .palm-four-sixths, .palm-eight-twelfths {
        width: 66.666%
    }

    .palm-one-fourth, .palm-two-eighths, .palm-three-twelfths {
        width: 25%
    }

    .palm-three-fourths, .palm-six-eighths, .palm-nine-twelfths {
        width: 75%
    }

    .palm-one-fifth, .palm-two-tenths {
        width: 20%
    }

    .palm-two-fifths, .palm-four-tenths {
        width: 40%
    }

    .palm-three-fifths, .palm-six-tenths {
        width: 60%
    }

    .palm-four-fifths, .palm-eight-tenths {
        width: 80%
    }

    .palm-one-sixth, .palm-two-twelfths {
        width: 16.666%
    }

    .palm-five-sixths, .palm-ten-twelfths {
        width: 83.333%
    }

    .palm-one-eighth {
        width: 12.5%
    }

    .palm-three-eighths {
        width: 37.5%
    }

    .palm-five-eighths {
        width: 62.5%
    }

    .palm-seven-eighths {
        width: 87.5%
    }

    .palm-one-tenth {
        width: 10%
    }

    .palm-three-tenths {
        width: 30%
    }

    .palm-seven-tenths {
        width: 70%
    }

    .palm-nine-tenths {
        width: 90%
    }

    .palm-one-twelfth {
        width: 8.333%
    }

    .palm-five-twelfths {
        width: 41.666%
    }

    .palm-seven-twelfths {
        width: 58.333%
    }

    .palm-ten-twelfths {
        width: 83.333%
    }

    .palm-eleven-twelfths {
        width: 91.666%
    }
}

@media (min-width: 669px) and (max-width: 1013px) {
    .lap-automatic-width {
        width: auto
    }

    .lap-one-whole {
        width: 100%
    }

    .lap-one-half, .lap-two-fourths, .lap-four-eighths, .lap-three-sixths, .lap-five-tenths, .lap-six-twelfths {
        width: 50%
    }

    .lap-one-third, .lap-two-sixths, .lap-four-twelfths {
        width: 33.333%
    }

    .lap-two-thirds, .lap-four-sixths, .lap-eight-twelfths {
        width: 66.666%
    }

    .lap-one-fourth, .lap-two-eighths, .lap-three-twelfths {
        width: 25%
    }

    .lap-three-fourths, .lap-six-eighths, .lap-nine-twelfths {
        width: 75%
    }

    .lap-one-fifth, .lap-two-tenths {
        width: 20%
    }

    .lap-two-fifths, .lap-four-tenths {
        width: 40%
    }

    .lap-three-fifths, .lap-six-tenths {
        width: 60%
    }

    .lap-four-fifths, .lap-eight-tenths {
        width: 80%
    }

    .lap-one-sixth, .lap-two-twelfths {
        width: 16.666%
    }

    .lap-five-sixths, .lap-ten-twelfths {
        width: 83.333%
    }

    .lap-one-eighth {
        width: 12.5%
    }

    .lap-three-eighths {
        width: 37.5%
    }

    .lap-five-eighths {
        width: 62.5%
    }

    .lap-seven-eighths {
        width: 87.5%
    }

    .lap-one-tenth {
        width: 10%
    }

    .lap-three-tenths {
        width: 30%
    }

    .lap-seven-tenths {
        width: 70%
    }

    .lap-nine-tenths {
        width: 90%
    }

    .lap-one-twelfth {
        width: 8.333%
    }

    .lap-five-twelfths {
        width: 41.666%
    }

    .lap-seven-twelfths {
        width: 58.333%
    }

    .lap-ten-twelfths {
        width: 83.333%
    }

    .lap-eleven-twelfths {
        width: 91.666%
    }
}

@media (min-width: 1014px) {
    .desk-automatic-width {
        width: auto
    }

    .desk-one-whole {
        width: 100%
    }

    .desk-one-half, .desk-two-fourths, .desk-four-eighths, .desk-three-sixths, .desk-five-tenths, .desk-six-twelfths {
        width: 50%
    }

    .desk-one-third, .desk-two-sixths, .desk-four-twelfths {
        width: 33.333%
    }

    .desk-two-thirds, .desk-four-sixths, .desk-eight-twelfths {
        width: 66.666%
    }

    .desk-one-fourth, .desk-two-eighths, .desk-three-twelfths {
        width: 25%
    }

    .desk-three-fourths, .desk-six-eighths, .desk-nine-twelfths {
        width: 75%
    }

    .desk-one-fifth, .desk-two-tenths {
        width: 20%
    }

    .desk-two-fifths, .desk-four-tenths {
        width: 40%
    }

    .desk-three-fifths, .desk-six-tenths {
        width: 60%
    }

    .desk-four-fifths, .desk-eight-tenths {
        width: 80%
    }

    .desk-one-sixth, .desk-two-twelfths {
        width: 16.666%
    }

    .desk-five-sixths, .desk-ten-twelfths {
        width: 83.333%
    }

    .desk-one-eighth {
        width: 12.5%
    }

    .desk-three-eighths {
        width: 37.5%
    }

    .desk-five-eighths {
        width: 62.5%
    }

    .desk-seven-eighths {
        width: 87.5%
    }

    .desk-one-tenth {
        width: 10%
    }

    .desk-three-tenths {
        width: 30%
    }

    .desk-seven-tenths {
        width: 70%
    }

    .desk-nine-tenths {
        width: 90%
    }

    .desk-one-twelfth {
        width: 8.333%
    }

    .desk-five-twelfths {
        width: 41.666%
    }

    .desk-seven-twelfths {
        width: 58.333%
    }

    .desk-ten-twelfths {
        width: 83.333%
    }

    .desk-eleven-twelfths {
        width: 91.666%
    }
}

.clearfix:after {
    display: table;
    clear: both;
    content: ""
}

.clearfix-before:before {
    display: table;
    clear: both;
    content: ""
}

ol, .list-bullet {
    overflow: hidden;
    list-style-position: outside
}

ol li {
    margin-left: 2.333em
}

ol li:nth-child(n) {
    margin-left: 1.75em
}

ol li:nth-child(n+10) {
    margin-left: 2.333em
}

ol li:nth-child(n+100) {
    margin-left: 2.916em
}

.list-bullet {
    list-style-type: disc
}

.list-bullet > li {
    margin-left: 1.333em
}

.list-check > li {
    position: relative;
    padding-left: 1.5em
}

.list-check > li:before {
    content: "\f00c";
    position: absolute;
    left: 0;
    font-family: vwfs-iconfont;
    color: #000000
}

.list-spacing > li {
    margin-bottom: 8px
}

.list-spacing-xs > li {
    margin-bottom: 2px
}

.list-spacing-s > li {
    margin-bottom: 4px
}

.list-spacing-m > li {
    margin-bottom: 8px
}

.list-spacing-l > li {
    margin-bottom: 16px
}

.list-spacing-xl > li {
    margin-bottom: 24px
}

.list-spacing-xxl > li {
    margin-bottom: 32px
}

@media (min-width: 669px) {
    .list-spacing > li {
        margin-bottom: 16px
    }

    .list-spacing-xs > li {
        margin-bottom: 4px
    }

    .list-spacing-s > li {
        margin-bottom: 8px
    }

    .list-spacing-m > li {
        margin-bottom: 16px
    }

    .list-spacing-l > li {
        margin-bottom: 24px
    }

    .list-spacing-xl > li {
        margin-bottom: 32px
    }

    .list-spacing-xxl > li {
        margin-bottom: 40px
    }
}

.grid {
    display: block;
    margin-right: 0
}

.grid:after {
    display: table;
    clear: both;
    content: ""
}

.grid-item {
    display: block;
    float: left;
    /*width: 100%;*/
    vertical-align: top;
    text-align: left
}

.gutter, .gutter-horizontal {
    margin-left: -16px
}

.gutter > .grid-item, .gutter-vertical > .grid-item {
    margin-bottom: 16px
}

.gutter > .grid-item, .gutter-horizontal > .grid-item {
    padding-left: 16px
}

.gutter-xs, .gutter-horizontal-xs {
    margin-left: -2px
}

.gutter-xs > .grid-item, .gutter-vertical-xs > .grid-item {
    margin-bottom: 2px
}

.gutter-xs > .grid-item, .gutter-horizontal-xs > .grid-item {
    padding-left: 2px
}

.gutter-s, .gutter-horizontal-s {
    margin-left: -4px
}

.gutter-s > .grid-item, .gutter-vertical-s > .grid-item {
    margin-bottom: 4px
}

.gutter-s > .grid-item, .gutter-horizontal-s > .grid-item {
    padding-left: 4px
}

.gutter-m, .gutter-horizontal-m {
    margin-left: -8px
}

.gutter-m > .grid-item, .gutter-vertical-m > .grid-item {
    margin-bottom: 8px
}

.gutter-m > .grid-item, .gutter-horizontal-m > .grid-item {
    padding-left: 8px
}

.gutter-l, .gutter-horizontal-l {
    margin-left: -16px
}

.gutter-l > .grid-item, .gutter-vertical-l > .grid-item {
    margin-bottom: 16px
}

.gutter-l > .grid-item, .gutter-horizontal-l > .grid-item {
    padding-left: 16px
}

.gutter-xl, .gutter-horizontal-xl {
    margin-left: -24px
}

.gutter-xl > .grid-item, .gutter-vertical-xl > .grid-item {
    margin-bottom: 24px
}

.gutter-xl > .grid-item, .gutter-horizontal-xl > .grid-item {
    padding-left: 24px
}

.gutter-xxl, .gutter-horizontal-xxl {
    margin-left: -32px
}

.gutter-xxl > .grid-item, .gutter-vertical-xxl > .grid-item {
    margin-bottom: 32px
}

.gutter-xxl > .grid-item, .gutter-horizontal-xxl > .grid-item {
    padding-left: 32px
}

@media (min-width: 669px) {
    .gutter, .gutter-horizontal {
        margin-left: -24px
    }

    .gutter > .grid-item, .gutter-vertical > .grid-item {
        margin-bottom: 24px
    }

    .gutter > .grid-item, .gutter-horizontal > .grid-item {
        padding-left: 24px
    }

    .gutter-xs, .gutter-horizontal-xs {
        margin-left: -4px
    }

    .gutter-xs > .grid-item, .gutter-vertical-xs > .grid-item {
        margin-bottom: 4px
    }

    .gutter-xs > .grid-item, .gutter-horizontal-xs > .grid-item {
        padding-left: 4px
    }

    .gutter-s, .gutter-horizontal-s {
        margin-left: -8px
    }

    .gutter-s > .grid-item, .gutter-vertical-s > .grid-item {
        margin-bottom: 8px
    }

    .gutter-s > .grid-item, .gutter-horizontal-s > .grid-item {
        padding-left: 8px
    }

    .gutter-m, .gutter-horizontal-m {
        margin-left: -16px
    }

    .gutter-m > .grid-item, .gutter-vertical-m > .grid-item {
        margin-bottom: 16px
    }

    .gutter-m > .grid-item, .gutter-horizontal-m > .grid-item {
        padding-left: 16px
    }

    .gutter-l, .gutter-horizontal-l {
        margin-left: -24px
    }

    .gutter-l > .grid-item, .gutter-vertical-l > .grid-item {
        margin-bottom: 24px
    }

    .gutter-l > .grid-item, .gutter-horizontal-l > .grid-item {
        padding-left: 24px
    }

    .gutter-xl, .gutter-horizontal-xl {
        margin-left: -32px
    }

    .gutter-xl > .grid-item, .gutter-vertical-xl > .grid-item {
        margin-bottom: 32px
    }

    .gutter-xl > .grid-item, .gutter-horizontal-xl > .grid-item {
        padding-left: 32px
    }

    .gutter-xxl, .gutter-horizontal-xxl {
        margin-left: -40px
    }

    .gutter-xxl > .grid-item, .gutter-vertical-xxl > .grid-item {
        margin-bottom: 40px
    }

    .gutter-xxl > .grid-item, .gutter-horizontal-xxl > .grid-item {
        padding-left: 40px
    }
}

.push-one-half, .push-two-fourths, .push-three-sixths, .push-four-eighths, .push-five-tenths, .push-six-twelfths {
    margin-left: 50%
}

.push-one-third, .push-two-sixths, .push-four-twelfths {
    margin-left: 33.333%
}

.push-two-thirds, .push-four-sixths, .push-eight-twelfths {
    margin-left: 66.666%
}

.push-one-fourth, .push-two-eighths, .push-three-twelfths {
    margin-left: 25%
}

.push-three-fourths, .push-six-eighths, .push-nine-twelfths {
    margin-left: 75%
}

.push-one-fifth, .push-two-tenths {
    margin-left: 20%
}

.push-two-fifths, .push-four-tenths {
    margin-left: 40%
}

.push-three-fifths, .push-six-tenths {
    margin-left: 60%
}

.push-four-fifths, .push-eight-tenths {
    margin-left: 80%
}

.push-one-sixth, .push-two-twelfths {
    margin-left: 16.666%
}

.push-five-sixths, .push-ten-twelfths {
    margin-left: 83.333%
}

.push-one-eighth {
    margin-left: 12.5%
}

.push-three-eighths {
    margin-left: 37.5%
}

.push-five-eighths {
    margin-left: 62.5%
}

.push-seven-eighths {
    margin-left: 87.5%
}

.push-one-tenth {
    margin-left: 10%
}

.push-three-tenths {
    margin-left: 30%
}

.push-seven-tenths {
    margin-left: 70%
}

.push-nine-tenths {
    margin-left: 90%
}

.push-one-twelfth {
    margin-left: 8.333%
}

.push-five-twelfths {
    margin-left: 41.666%
}

.push-seven-twelfths {
    margin-left: 58.333%
}

.push-ten-twelfths {
    margin-left: 83.333%
}

.push-eleven-twelfths {
    margin-left: 91.666%
}

@media (max-width: 668px) {
    .palm-push-one-half, .palm-push-two-fourths, .palm-push-three-sixths, .palm-push-four-eighths, .palm-push-five-tenths, .palm-push-six-twelfths {
        margin-left: 50%
    }

    .palm-push-one-third, .palm-push-two-sixths, .palm-push-four-twelfths {
        margin-left: 33.333%
    }

    .palm-push-two-thirds, .palm-push-four-sixths, .palm-push-eight-twelfths {
        margin-left: 66.666%
    }

    .palm-push-one-fourth, .palm-push-two-eighths, .palm-push-three-twelfths {
        margin-left: 25%
    }

    .palm-push-three-fourths, .palm-push-six-eighths, .palm-push-nine-twelfths {
        margin-left: 75%
    }

    .palm-push-one-fifth, .palm-push-two-tenths {
        margin-left: 20%
    }

    .palm-push-two-fifths, .palm-push-four-tenths {
        margin-left: 40%
    }

    .palm-push-three-fifths, .palm-push-six-tenths {
        margin-left: 60%
    }

    .palm-push-four-fifths, .palm-push-eight-tenths {
        margin-left: 80%
    }

    .palm-push-one-sixth, .palm-push-two-twelfths {
        margin-left: 16.666%
    }

    .palm-push-five-sixths, .palm-push-ten-twelfths {
        margin-left: 83.333%
    }

    .palm-push-one-eighth {
        margin-left: 12.5%
    }

    .palm-push-three-eighths {
        margin-left: 37.5%
    }

    .palm-push-five-eighths {
        margin-left: 62.5%
    }

    .palm-push-seven-eighths {
        margin-left: 87.5%
    }

    .palm-push-one-tenth {
        margin-left: 10%
    }

    .palm-push-three-tenths {
        margin-left: 30%
    }

    .palm-push-seven-tenths {
        margin-left: 70%
    }

    .palm-push-nine-tenths {
        margin-left: 90%
    }

    .palm-push-one-twelfth {
        margin-left: 8.333%
    }

    .palm-push-five-twelfths {
        margin-left: 41.666%
    }

    .palm-push-seven-twelfths {
        margin-left: 58.333%
    }

    .palm-push-ten-twelfths {
        margin-left: 83.333%
    }

    .palm-push-eleven-twelfths {
        margin-left: 91.666%
    }
}

@media (min-width: 669px) and (max-width: 1013px) {
    .lap-push-one-half, .lap-push-two-fourths, .lap-push-three-sixths, .lap-push-four-eighths, .lap-push-five-tenths, .lap-push-six-twelfths {
        margin-left: 50%
    }

    .lap-push-one-third, .lap-push-two-sixths, .lap-push-four-twelfths {
        margin-left: 33.333%
    }

    .lap-push-two-thirds, .lap-push-four-sixths, .lap-push-eight-twelfths {
        margin-left: 66.666%
    }

    .lap-push-one-fourth, .lap-push-two-eighths, .lap-push-three-twelfths {
        margin-left: 25%
    }

    .lap-push-three-fourths, .lap-push-six-eighths, .lap-push-nine-twelfths {
        margin-left: 75%
    }

    .lap-push-one-fifth, .lap-push-two-tenths {
        margin-left: 20%
    }

    .lap-push-two-fifths, .lap-push-four-tenths {
        margin-left: 40%
    }

    .lap-push-three-fifths, .lap-push-six-tenths {
        margin-left: 60%
    }

    .lap-push-four-fifths, .lap-push-eight-tenths {
        margin-left: 80%
    }

    .lap-push-one-sixth, .lap-push-two-twelfths {
        margin-left: 16.666%
    }

    .lap-push-five-sixths, .lap-push-ten-twelfths {
        margin-left: 83.333%
    }

    .lap-push-one-eighth {
        margin-left: 12.5%
    }

    .lap-push-three-eighths {
        margin-left: 37.5%
    }

    .lap-push-five-eighths {
        margin-left: 62.5%
    }

    .lap-push-seven-eighths {
        margin-left: 87.5%
    }

    .lap-push-one-tenth {
        margin-left: 10%
    }

    .lap-push-three-tenths {
        margin-left: 30%
    }

    .lap-push-seven-tenths {
        margin-left: 70%
    }

    .lap-push-nine-tenths {
        margin-left: 90%
    }

    .lap-push-one-twelfth {
        margin-left: 8.333%
    }

    .lap-push-five-twelfths {
        margin-left: 41.666%
    }

    .lap-push-seven-twelfths {
        margin-left: 58.333%
    }

    .lap-push-ten-twelfths {
        margin-left: 83.333%
    }

    .lap-push-eleven-twelfths {
        margin-left: 91.666%
    }
}

@media (min-width: 1014px) {
    .desk-push-one-half, .desk-push-two-fourths, .desk-push-three-sixths, .desk-push-four-eighths, .desk-push-five-tenths, .desk-push-six-twelfths {
        margin-left: 50%
    }

    .desk-push-one-third, .desk-push-two-sixths, .desk-push-four-twelfths {
        margin-left: 33.333%
    }

    .desk-push-two-thirds, .desk-push-four-sixths, .desk-push-eight-twelfths {
        margin-left: 66.666%
    }

    .desk-push-one-fourth, .desk-push-two-eighths, .desk-push-three-twelfths {
        margin-left: 25%
    }

    .desk-push-three-fourths, .desk-push-six-eighths, .desk-push-nine-twelfths {
        margin-left: 75%
    }

    .desk-push-one-fifth, .desk-push-two-tenths {
        margin-left: 20%
    }

    .desk-push-two-fifths, .desk-push-four-tenths {
        margin-left: 40%
    }

    .desk-push-three-fifths, .desk-push-six-tenths {
        margin-left: 60%
    }

    .desk-push-four-fifths, .desk-push-eight-tenths {
        margin-left: 80%
    }

    .desk-push-one-sixth, .desk-push-two-twelfths {
        margin-left: 16.666%
    }

    .desk-push-five-sixths, .desk-push-ten-twelfths {
        margin-left: 83.333%
    }

    .desk-push-one-eighth {
        margin-left: 12.5%
    }

    .desk-push-three-eighths {
        margin-left: 37.5%
    }

    .desk-push-five-eighths {
        margin-left: 62.5%
    }

    .desk-push-seven-eighths {
        margin-left: 87.5%
    }

    .desk-push-one-tenth {
        margin-left: 10%
    }

    .desk-push-three-tenths {
        margin-left: 30%
    }

    .desk-push-seven-tenths {
        margin-left: 70%
    }

    .desk-push-nine-tenths {
        margin-left: 90%
    }

    .desk-push-one-twelfth {
        margin-left: 8.333%
    }

    .desk-push-five-twelfths {
        margin-left: 41.666%
    }

    .desk-push-seven-twelfths {
        margin-left: 58.333%
    }

    .desk-push-ten-twelfths {
        margin-left: 83.333%
    }

    .desk-push-eleven-twelfths {
        margin-left: 91.666%
    }
}

.grid-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.grid-flex > .grid-item {
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto
}

@media (min-width: 1px) {
    .grid-flex:after {
        content: none
    }
}

.grid-align-start {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start
}

.grid-align-end {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
    align-self: flex-end
}

.grid-align-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center
}

.grid-align-baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
    -webkit-align-self: baseline;
    -moz-align-self: baseline;
    -ms-align-self: baseline;
    align-self: baseline
}

.grid-align-stretch {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-align-self: stretch;
    align-self: stretch
}

.grid-justify-start {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start
}

.grid-justify-end {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end
}

.grid-justify-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}

.grid-justify-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between
}

.grid-justify-space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around
}

.grid-flex > .grid-item-fixed-width {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box
}

.grid-flex.grid-fill-rows > .grid-item:not(.grid-item-fixed-width) {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.order-five-up {
    -webkit-order: -5;
    -moz-order: -5;
    -ms-flex-order: -5;
    -ms-order: -5;
    order: -5
}

.order-four-up {
    -webkit-order: -4;
    -moz-order: -4;
    -ms-flex-order: -4;
    -ms-order: -4;
    order: -4
}

.order-three-up {
    -webkit-order: -3;
    -moz-order: -3;
    -ms-flex-order: -3;
    -ms-order: -3;
    order: -3
}

.order-two-up {
    -webkit-order: -2;
    -moz-order: -2;
    -ms-flex-order: -2;
    -ms-order: -2;
    order: -2
}

.order-one-up {
    -webkit-order: -1;
    -moz-order: -1;
    -ms-flex-order: -1;
    -ms-order: -1;
    order: -1
}

.order-default {
    -webkit-order: 0;
    -moz-order: 0;
    -ms-flex-order: 0;
    -ms-order: 0;
    order: 0
}

.order-one-down {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    -ms-order: 1;
    order: 1
}

.order-two-down {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    -ms-order: 2;
    order: 2
}

.order-three-down {
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    -ms-order: 3;
    order: 3
}

.order-four-down {
    -webkit-order: 4;
    -moz-order: 4;
    -ms-flex-order: 4;
    -ms-order: 4;
    order: 4
}

.order-five-down {
    -webkit-order: 5;
    -moz-order: 5;
    -ms-flex-order: 5;
    -ms-order: 5;
    order: 5
}

@media (max-width: 668px) {
    .palm-order-five-up {
        -webkit-order: -5;
        -moz-order: -5;
        -ms-flex-order: -5;
        -ms-order: -5;
        order: -5
    }

    .palm-order-four-up {
        -webkit-order: -4;
        -moz-order: -4;
        -ms-flex-order: -4;
        -ms-order: -4;
        order: -4
    }

    .palm-order-three-up {
        -webkit-order: -3;
        -moz-order: -3;
        -ms-flex-order: -3;
        -ms-order: -3;
        order: -3
    }

    .palm-order-two-up {
        -webkit-order: -2;
        -moz-order: -2;
        -ms-flex-order: -2;
        -ms-order: -2;
        order: -2
    }

    .palm-order-one-up {
        -webkit-order: -1;
        -moz-order: -1;
        -ms-flex-order: -1;
        -ms-order: -1;
        order: -1
    }

    .palm-order-default {
        -webkit-order: 0;
        -moz-order: 0;
        -ms-flex-order: 0;
        -ms-order: 0;
        order: 0
    }

    .palm-order-one-down {
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        -ms-order: 1;
        order: 1
    }

    .palm-order-two-down {
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        -ms-order: 2;
        order: 2
    }

    .palm-order-three-down {
        -webkit-order: 3;
        -moz-order: 3;
        -ms-flex-order: 3;
        -ms-order: 3;
        order: 3
    }

    .palm-order-four-down {
        -webkit-order: 4;
        -moz-order: 4;
        -ms-flex-order: 4;
        -ms-order: 4;
        order: 4
    }

    .palm-order-five-down {
        -webkit-order: 5;
        -moz-order: 5;
        -ms-flex-order: 5;
        -ms-order: 5;
        order: 5
    }
}

@media (min-width: 669px) and (max-width: 1013px) {
    .lap-order-five-up {
        -webkit-order: -5;
        -moz-order: -5;
        -ms-flex-order: -5;
        -ms-order: -5;
        order: -5
    }

    .lap-order-four-up {
        -webkit-order: -4;
        -moz-order: -4;
        -ms-flex-order: -4;
        -ms-order: -4;
        order: -4
    }

    .lap-order-three-up {
        -webkit-order: -3;
        -moz-order: -3;
        -ms-flex-order: -3;
        -ms-order: -3;
        order: -3
    }

    .lap-order-two-up {
        -webkit-order: -2;
        -moz-order: -2;
        -ms-flex-order: -2;
        -ms-order: -2;
        order: -2
    }

    .lap-order-one-up {
        -webkit-order: -1;
        -moz-order: -1;
        -ms-flex-order: -1;
        -ms-order: -1;
        order: -1
    }

    .lap-order-default {
        -webkit-order: 0;
        -moz-order: 0;
        -ms-flex-order: 0;
        -ms-order: 0;
        order: 0
    }

    .lap-order-one-down {
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        -ms-order: 1;
        order: 1
    }

    .lap-order-two-down {
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        -ms-order: 2;
        order: 2
    }

    .lap-order-three-down {
        -webkit-order: 3;
        -moz-order: 3;
        -ms-flex-order: 3;
        -ms-order: 3;
        order: 3
    }

    .lap-order-four-down {
        -webkit-order: 4;
        -moz-order: 4;
        -ms-flex-order: 4;
        -ms-order: 4;
        order: 4
    }

    .lap-order-five-down {
        -webkit-order: 5;
        -moz-order: 5;
        -ms-flex-order: 5;
        -ms-order: 5;
        order: 5
    }
}

@media (min-width: 1014px) {
    .desk-order-five-up {
        -webkit-order: -5;
        -moz-order: -5;
        -ms-flex-order: -5;
        -ms-order: -5;
        order: -5
    }

    .desk-order-four-up {
        -webkit-order: -4;
        -moz-order: -4;
        -ms-flex-order: -4;
        -ms-order: -4;
        order: -4
    }

    .desk-order-three-up {
        -webkit-order: -3;
        -moz-order: -3;
        -ms-flex-order: -3;
        -ms-order: -3;
        order: -3
    }

    .desk-order-two-up {
        -webkit-order: -2;
        -moz-order: -2;
        -ms-flex-order: -2;
        -ms-order: -2;
        order: -2
    }

    .desk-order-one-up {
        -webkit-order: -1;
        -moz-order: -1;
        -ms-flex-order: -1;
        -ms-order: -1;
        order: -1
    }

    .desk-order-default {
        -webkit-order: 0;
        -moz-order: 0;
        -ms-flex-order: 0;
        -ms-order: 0;
        order: 0
    }

    .desk-order-one-down {
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        -ms-order: 1;
        order: 1
    }

    .desk-order-two-down {
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        -ms-order: 2;
        order: 2
    }

    .desk-order-three-down {
        -webkit-order: 3;
        -moz-order: 3;
        -ms-flex-order: 3;
        -ms-order: 3;
        order: 3
    }

    .desk-order-four-down {
        -webkit-order: 4;
        -moz-order: 4;
        -ms-flex-order: 4;
        -ms-order: 4;
        order: 4
    }

    .desk-order-five-down {
        -webkit-order: 5;
        -moz-order: 5;
        -ms-flex-order: 5;
        -ms-order: 5;
        order: 5
    }
}

.grid-flex.gutter, .grid-flex.gutter-vertical {
    margin-top: -16px
}

.grid-flex.gutter > .grid-item, .grid-flex.gutter-vertical > .grid-item {
    margin-top: 16px;
    margin-bottom: 0
}

.grid-flex.gutter-xs, .grid-flex.gutter-vertical-xs {
    margin-top: -2px
}

.grid-flex.gutter-xs > .grid-item, .grid-flex.gutter-vertical-xs > .grid-item {
    margin-top: 2px;
    margin-bottom: 0
}

.grid-flex.gutter-s, .grid-flex.gutter-vertical-s {
    margin-top: -4px
}

.grid-flex.gutter-s > .grid-item, .grid-flex.gutter-vertical-s > .grid-item {
    margin-top: 4px;
    margin-bottom: 0
}

.grid-flex.gutter-m, .grid-flex.gutter-vertical-m {
    margin-top: -8px
}

.grid-flex.gutter-m > .grid-item, .grid-flex.gutter-vertical-m > .grid-item {
    margin-top: 8px;
    margin-bottom: 0
}

.grid-flex.gutter-l, .grid-flex.gutter-vertical-l {
    margin-top: -16px
}

.grid-flex.gutter-l > .grid-item, .grid-flex.gutter-vertical-l > .grid-item {
    margin-top: 16px;
    margin-bottom: 0
}

.grid-flex.gutter-xl, .grid-flex.gutter-vertical-xl {
    margin-top: -24px
}

.grid-flex.gutter-xl > .grid-item, .grid-flex.gutter-vertical-xl > .grid-item {
    margin-top: 24px;
    margin-bottom: 0
}

.grid-flex.gutter-xxl, .grid-flex.gutter-vertical-xxl {
    margin-top: -32px
}

.grid-flex.gutter-xxl > .grid-item, .grid-flex.gutter-vertical-xxl > .grid-item {
    margin-top: 32px;
    margin-bottom: 0
}

@media (min-width: 669px) {
    .grid-flex.gutter, .grid-flex.gutter-vertical {
        margin-top: -24px
    }

    .grid-flex.gutter > .grid-item, .grid-flex.gutter-vertical > .grid-item {
        margin-top: 24px;
        margin-bottom: 0
    }

    .grid-flex.gutter-xs, .grid-flex.gutter-vertical-xs {
        margin-top: -4px
    }

    .grid-flex.gutter-xs > .grid-item, .grid-flex.gutter-vertical-xs > .grid-item {
        margin-top: 4px;
        margin-bottom: 0
    }

    .grid-flex.gutter-s, .grid-flex.gutter-vertical-s {
        margin-top: -8px
    }

    .grid-flex.gutter-s > .grid-item, .grid-flex.gutter-vertical-s > .grid-item {
        margin-top: 8px;
        margin-bottom: 0
    }

    .grid-flex.gutter-m, .grid-flex.gutter-vertical-m {
        margin-top: -16px
    }

    .grid-flex.gutter-m > .grid-item, .grid-flex.gutter-vertical-m > .grid-item {
        margin-top: 16px;
        margin-bottom: 0
    }

    .grid-flex.gutter-l, .grid-flex.gutter-vertical-l {
        margin-top: -24px
    }

    .grid-flex.gutter-l > .grid-item, .grid-flex.gutter-vertical-l > .grid-item {
        margin-top: 24px;
        margin-bottom: 0
    }

    .grid-flex.gutter-xl, .grid-flex.gutter-vertical-xl {
        margin-top: -32px
    }

    .grid-flex.gutter-xl > .grid-item, .grid-flex.gutter-vertical-xl > .grid-item {
        margin-top: 32px;
        margin-bottom: 0
    }

    .grid-flex.gutter-xxl, .grid-flex.gutter-vertical-xxl {
        margin-top: -40px
    }

    .grid-flex.gutter-xxl > .grid-item, .grid-flex.gutter-vertical-xxl > .grid-item {
        margin-top: 40px;
        margin-bottom: 0
    }
}
